# Ignore cti pdfs
cti-analysis/*.pdf

# Ignore datasets folder
datasets/
datasets/*

# Ignore output folders
output/
extracted_triples/*

# Ignore pycache
/pycache/
**/__pycache__/

# Ignore python environments
/.conda/
/.venv/

# Ignore tsv
*.tsv

# ugh
.DS_Store