# Ignore cti pdfs
cti-analysis/*.pdf

# Ignore pycache
/pycache/
**/__pycache__/
/.embed_cache/*

# Ignore python environments
/.conda/
/.venv/

# Ignore tsv
*.tsv

# Ignore egg
*/*.egg*

# ugh
.DS_Store